@@include("_header.html")
@@include("../blocks/modules/banner/banner.html")
@@include("../blocks/modules/timer/timer.html")
@@include("../blocks/modules/advantages/advantages.html")
@@include("../blocks/modules/models/models.html")
@@include("../blocks/modules/stocks/stocks.html")
@@include("../blocks/modules/availability/availability.html")
@@include("../blocks/modules/banner2/banner2.html")
@@include("../blocks/modules/contacts/contacts.html")
@@include("../blocks/modules/menu/menu.html")
@@include("../blocks/modules/modal/modal.html")
@@include("_footer.html")