@import "main-bx";

.advantages {
  margin-top: 110px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 60px;
  @media (max-width: 1600px) {
    width: 90%;
  }
  
  @media (max-width: 1000px) {
    gap:30px;
    margin-top: 50px;
  }

  &__title {
    font-size: 36px;
    color: $color_text;
    font-family: $accent_font_bld;
    line-height: 120%; 
    text-align: center;
    @media (max-width: 1400px) {
      font-size: 30px;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    align-items: center;
    @media (max-width: 1400px) {
      flex-wrap: wrap;
      gap: 50px;
    }
    @media (max-width: 1000px) {
      justify-content: center;
      gap: 20px;
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slick-track{
    display: flex;
    gap:30px;
  }

  .slick-dotted .slick-slider {
    margin-bottom: 0px;
}

li.slick-active {  
  background-color:$color_red;
}

.slick-track{
  width: 100% !important;
  @media (max-width: 1000px) {
    width: 6305px !important;
  }
}

.advantages__item  .slick-slide .slick-current .slick-active{
  width: 100% !important;
}

.stocks__item.slick-slide.slick-cloned.slick-active{
  display: flex;
}

&__dot_item{
  width:10px;
  height:10px;
  border: 1px solid $color_red;
}

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:28px;
    width: 200px;    
    @media (max-width: 1400px) {
      align-items: center;
    }
  }

  &__description-text {
    font-size: 18px;
    color: $color_text;
    font-family: $accent_font_med;
    text-align: center;
  }

  
  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px; 
  }

  &__dot{
    cursor: pointer; 
  }

}
